.center{
    font-size:300%;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}
.page1{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100vh;
    background-color:red;
}

.page2{
    display:none;
    position:absolute;
    top:0;
    left:100%  ;
    width:100%;
    height:100vh;
    background-color:yellow;
}

.box{
    display:inline-block;
    background:pink;
    height:100px;
    width:100px;
    position:relative;
    animation:myframes 2s ease-in-out 0s infinite

}
/*@keyframes myframes {*/
    /*from{*/
        /*height:100px;*/
    /*}*/
    /*to{*/
        /*height:300px;*/
    /*}*/
/*}*/



*{
    padding:0;
    margin:0;
}
.slides{
    width:310px;
    overflow:hidden;
    height:206px;
}
ul,ol,dl{
  list-style:none;
}
ul:after{
    content:'';
    display:block;
    clear:both;
}
ul{
    width:1240px;
    position:relative;
    left:0;
}
ul>li{
    float:left;
}

























